
.windowUnder {
    content: "";
    height: 8%;
    width: 100%;
    background-color: rgb(195, 195, 195);
    box-shadow: inset 0px 2px 0px rgba(255,255,255, 0.7);
  
    position: absolute;
    bottom: 0;
  }
  
  .folderInsert {
    background-color: rgb(195, 195, 195);
    width: 10%;
    height: 75%;
    padding: 1% 5px;
    margin: 1% 2% ;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8),
      inset 2px 2px 1px rgba(255, 255, 255, 0.8);
   
    cursor: pointer;
    font-weight: bolder;
    font-size: larger;
  }
  .folderInsert:active {
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.5);
  }


  .folderInsertMenu {
    position: absolute;
    top: -300%;
    left: 5%;
    width: 40%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    z-index: 50;
  }
  
  .folderInsertMenu input{
    width: 90%;
    outline: none;
    border: none;
    background-color: rgba(241, 207, 241,0.5);
    padding: 5px;
    border-radius: 2px;
    margin: 5px;
  }
  .folderInsertMenu input::placeholder{
    color: #ad9fb6;
  }
  
.secretBox {
  display: flex;
}

.secretBox label{
  text-align: right;
  width: 85%;
}
.secretBox input{
  text-align: left;
  width: 15%;
}

  .folderInsertMenu div:nth-of-type(2){
    width: 70%;
    background-color: rgb(195, 195, 195);
    padding: 5px;
    margin: 5px auto;
    cursor: pointer;

    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8),
      inset 2px 2px 1px rgba(255, 255, 255, 0.8);
  }
  .folderInsertMenu div:nth-of-type(2):active {
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.5);
  }
  