div.myRoomBox {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;

  font-size: 0.8rem;
}

.idCard {
  grid-column: 1/2;
  grid-row: 1/2;

  background-color: bisque;
  margin: 4%;
  border-radius: 5px;
}

.userWitList {
  grid-column: 1/2;
  grid-row: 2/3;

  margin: 4%;
  overflow: auto;
}

.userWitList::-webkit-scrollbar {
  display: none;
}
