img.home_logo {
  width: 100px;
  margin: 20px auto;
}

.searchBox {
  position: absolute;
  top: 3%;
  left: 3%;

  width: 13%;
  height: fit-content;

  text-align: left;
  border-bottom: 1px solid #ddd;
}

.searchBar {
  width: 80%;
  border: none;
  outline: none;
  text-align: left;
  padding-left: 3%;
  vertical-align: top;
}
