div.wits {
  width: 90%;
  background-color: white;
  border: 2px solid #ad9fb6;
  box-shadow: 3px 3px 2px rgba(241, 207, 241, 0.5);
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  text-align: left;
}

.wemarkCheckingBox span {
  display: block;
  width: 100%;
  text-align: left;
  margin: 5px auto;
  color: #333;
  font-size: 0.8rem;
  line-height: 100%;
}

img.wit_profile {
  width: 20px;
  transform: translateY(5px);
  margin-right: 5px;
}

span.wit_userNick {
  font-family: "DungGeunMo";
  font-size: 1rem;
  margin-right: 5px;
}

span.wit_userid,
span.wit_fromNow {
  font-size: 0.8rem;
  color: #333;
}

span.wit_fromNow {
  margin-left: 10px;
  font-weight: bold;
}

span.wit_menu {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
  width: fit-content;
}

div.wit_text {
  text-align: left;
  font-size: 0.8rem;
  margin: 10px auto;
  width: 85%;
  background-color: rgba(241, 207, 241, 0.3);
  padding: 10px;
  border-radius: 5px;

  cursor: pointer;
}

div.icon_box {
  width: 90%;
  text-align: right;
  margin: 5px auto;
  padding-right: 5%;
}

div.icon_box span {
  margin-left: 20%;
  color: #07364d;
  cursor: pointer;
  font-size: 1.1rem;
}

div.icon_box span span.count {
  color: #07364d;
  font-size: 0.8rem;
  margin-left: 5px;
  line-height: 100%;
  cursor: default;
}

.quoteBox {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #333;
  text-align: left;
  margin: 3%;
  margin-left: 5%;
  background-color: #07364d;
  color: white;
}

.quoteBox span.wit_userid,
.quoteBox span.wit_fromNow,
.quoteBox .wit_userNick,
.quoteBox div.icon_box span {
  color: white;
  font-weight: normal;
}

.quoteBox .wit_text {
  background-color: white;
  color: black;
}
