.wit_input_box {
  width: 60%;
  height: fit-content;
  border-bottom: 2px double #ad9fb6;
  margin: 10px auto;
  text-align: left;
}

.divBox {
  display: flex;
}

.wit_input_box textarea {
  background-color: #eee;
  outline: none;
  border: none;
  padding: 2%;
  width: 78%;
  min-height: 10px;
  text-align: left;
  vertical-align: top;
  margin: 3%;
  margin-bottom: 1%;
  resize: none;
  font-size: 1rem;
  overflow: hidden;

  flex: 1;
}

.wit_input_box button {
  border: none;
  background-color: #ad9fb6;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin: auto 1%;
}

.etcBox {
  max-width: 100%;
  text-align: left;
  margin: 0% 1% 0% 3%;
}
.insertImg {
  cursor: pointer;
  color: #07364d;
  font-size: 1.3rem;
}

.imgPreview img {
  width: 30%;
  margin: 2%;
}
