
section.board_box {
    width: 75%;
    height: 80%;
    
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-45%, -50%);
    overflow: initial;
    z-index: 10;
  }
  

  section.board {
    width: 90%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid black;
    background-color: white;
    overflow-y: scroll;

    z-index: 10;
  }

  section.board::-webkit-scrollbar {
    display: none;
  }


  img.b_logo {
    height: 50px;
    margin-top: 15px;
  }

  .witStyle {
    width: 60%;
    position: relative;
    margin:  0 auto;
}
