.folder {
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2; */
}

.folder .folder-icon img,
.folder span {
  cursor: pointer;
}
.folder-icon img {
  width: 30%;
}
.folder span {
  color: #fff;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}
