img.home_logo {
    width: 100px;
    margin: 20px auto;
}


.searchBar {
    position: absolute;
    top: 3%;
    left: 3%;

    width: 12%;

    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 3px;
    
}